# Redirect Any non-existing route to index.php
RewriteEngine	On
RewriteCond	%{REQUEST_FILENAME}	!-f
RewriteCond	%{REQUEST_FILENAME}	!-d
RewriteCond	%{REQUEST_FILENAME} !-l
RewriteRule	.*	index.php	[L,QSA]


# Make Apache let Auth tokens to go through
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]


# To avoid CORS issues when using Auth
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Headers "Authorization"
</IfModule>


# Disable Indexing
Options	-Indexes