
<!-- image -->
<div class="row bg-info pt-2 pb-2" id="image-box">
    <div class="col-12 pt-1 text-center">
        <img src="img/{{ imageFileName }}" alt="quiz question"
             class="img-fluid quiz-question-image"/>
    </div>
</div>
